# Data, Models, Logs, and Reports
# These are outputs/data, not code.
/data/
/models/
/mlruns/
/reports/

# Python Build Artifacts
*.egg-info/
__pycache__/
build/
dist/
.env
.pytest_cache/

# IDE & OS
.idea/
.vscode/
*.DS_Store